body {
}

.container {
    margin-bottom: 4rem;
}
h3 {
    background: linear-gradient( 90deg, rgba(2, 0, 36, 1) 0%, rgba(68, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100% );
    color: white;
    padding: 1rem;
}

#main-menu {
    margin-bottom: 1.5rem;
}

#main-menu div {
    margin-bottom: .5rem;
}

#menu-buttons {
    display: flex;
    justify-content: space-between;
   
    }

#menu-program-courses, #select-program-course {
    display: flex;
}



